In [21]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [22]:
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [23]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [51]:
school_data_complete = pd.merge(student_data, school_data, how="left")

In [53]:
school_data_complete.head()

,Student ID,name,gender,grade,school,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,NaN,NaN,NaN,NaN
1,1,Victor Smith,M,12th,Huang High School,94,61,NaN,NaN,NaN,NaN
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,NaN,NaN,NaN,NaN
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,NaN,NaN,NaN,NaN
4,4,Bonnie Ray,F,9th,Huang High School,97,84,NaN,NaN,NaN,NaN

In [43]:
school_count = len(school_data_complete["school"].unique())
student_count = school_data_complete["Student ID"].count()

In [59]:
total_budget = school_data["budget"].sum()
print (total_budget)

24649428

In [67]:
average_math = school_data_complete["math_score"].mean()
average_reading = school_data_complete["reading_score"].mean()
average_combined_score = (average_math + average_reading) / 2
print (average_math)
print (average_reading)
print (average_combined_score)

78.98537145774827
81.87784018381414
80.43160582078121

In [91]:
#passing math and reading
passing_math = school_data_complete[(school_data_complete["math_score"] > 70)].count()["name"]
passing_reading = school_data_complete[(school_data_complete["reading_score"] > 70)].count()["name"]
passing_math_percentage = passing_math / float(student_count) * 100
passing_reading_percentage = passing_reading / float(student_count) * 100
print (passing_math)
print (passing_reading)
print (passing_math_percentage)
print (passing_reading_percentage)

28356
32500
72.39213683941792
82.97166198621395