In [97]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [98]:
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [99]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [111]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school"])

KeyError: 'school'

In [114]:
school_data_complete.head()

,Student ID,name,gender,grade,school,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,NaN,NaN,NaN,NaN
1,1,Victor Smith,M,12th,Huang High School,94,61,NaN,NaN,NaN,NaN
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,NaN,NaN,NaN,NaN
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,NaN,NaN,NaN,NaN
4,4,Bonnie Ray,F,9th,Huang High School,97,84,NaN,NaN,NaN,NaN

In [124]:
school_count = len(school_data_complete["school"].unique())
student_count = school_data_complete["Student ID"].count()

In [125]:
total_budget = school_data["budget"].sum()
print (total_budget)

24649428

In [126]:
average_math = school_data_complete["math_score"].mean()
average_reading = school_data_complete["reading_score"].mean()
overall_passing_rate = (average_math + average_reading) / 2
print (average_math)
print (average_reading)
print (overall_passing_rate)

78.98537145774827
81.87784018381414
80.43160582078121

In [127]:
#passing math and reading
passing_math = school_data_complete[(school_data_complete["math_score"] > 70)].count()["name"]
passing_reading = school_data_complete[(school_data_complete["reading_score"] > 70)].count()["name"]
passing_math_percentage = passing_math / float(student_count) * 100
passing_reading_percentage = passing_reading / float(student_count) * 100
print (passing_math)
print (passing_math_percentage)
print (passing_reading)
print (passing_reading_percentage)

28356
72.39213683941792
32500
82.97166198621395

In [128]:
district_summary = pd.DataFrame({"Total Schools": [school_count], 
                         "Total Students": [student_count], 
                         "Total Budget": [total_budget],
                         "Average Math Score": [average_math], 
                         "Average Reading Score": [average_reading],
                         "% Passing Math": [passing_math_percentage],
                         "% Passing Reading": [passing_reading_percentage],
                         "% Overall Passing Rate": [overall_passing_rate]})
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,72.392137,82.971662,80.431606

In [129]:
#SCHOOL SUMMARY

In [130]:
# Determine the School Type
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [131]:
# Calculate the total student count
per_school_counts = school_data_complete["name"].value_counts()

In [59]:
# Calculate the total school budget and per capita spending
# per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_budget = school_data_complete.groupby(["name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts

In [67]:
# Calculate the average test scores
per_school_math = school_data_complete.groupby(["name"]).mean()["math_score"]
per_school_reading = school_data_complete.groupby(["name"]).mean()["reading_score"]

In [68]:
# Calculate the passing scores by creating a filtered data frame
school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]

In [69]:
per_school_passing_math = school_passing_math.groupby(["name"]).count()["name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["name"]).count()["name"] / per_school_counts * 100
overall_passing_rate = (per_school_passing_math + per_school_passing_reading) / 2

KeyError: 'name'